/* *{
    font-family: sans-serif;
} */

body{
    margin: 0;
    padding: 0;
    background: #fff;
}
.Register-all {
    padding-top: 400px;
}
.Register{
    width: 350px;
    padding: 40px;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 8px 10px #b9b7b2 ;
    position: relative;

}
.Register img {
    width: 100%;
}
.Register span {
    color: #d8b882;
}
.Register input[type='text'],.Register input[type='password']{
    border: 0px;
    background: none;
    display: block;
    margin: 15px auto;
    text-align: center;
    border: 2px solid #b9b7b2;
    padding: 10px 10px ;
    width: 200px;
    outline: none;
    color: #757575;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 12px;
}
.Register input[type='text']:focus,.Register input[type='password']:focus{
    width: 280px;
    border-color: #f1d328;
}
.Register input[type='submit']{
    border: 0px;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #b9b7b2;
    ;
    padding: 10px 40px ;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    color: #757575;
    font-size: 12px;
}
.Register input[type = 'submit']:hover{
    background: #d8b882;
    border: 2px solid #f1d328;
    
}
